.container {
  max-width: 1000px;
  margin: 5em auto;
  text-align: center;
}
.row {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}
.wawes_container {
  display: flex;
}
.wawes_container img {
  margin: 0 10px;
  width: 130px;
}
.row h2,
.row p {
  text-align: left;
}
.row p {
  line-height: 28px;
  font-size: 15px;
}
@media (max-width: 1022px) {
  .container {
    margin: auto 3em;
  }
}
@media (max-width: 969px) {
  h2 {
    font-size: 1.3em;
  }
}
@media (max-width: 609px) {
  .container img {
    margin: 0 4px;
    height: 160px;
  }
}
@media (max-width: 414px) {
  h2 {
    font-size: 1em;
  }
  p {
    font-size: 7px;
    /* line-height: 2px; */
  }
  .container .row {
    flex-direction: column;
    margin: 2rem 0;
  }
  .container img {
    margin: 0 4px;
    height: auto;
  }
}
