.container {
  max-width: 1000px;
  margin: 2em auto;
  text-align: center;
}
.imgContainer {
  width: 100%;
}
.imgContainer img {
  width: 100%;
  margin: 1em 0;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 3em 0;
}

.wawes_container {
  display: flex;
}
.wawes_container img {
  margin: 0 10px;
  width: 130px;
}
.row h2,
.row p {
  text-align: left;
}
.row p {
  line-height: 28px;
  font-size: 15px;
}
@media (max-width: 1022px) {
  .container {
    margin: auto 3em;
  }
}
@media (max-width: 969px) {
  h2 {
    font-size: 1.3em;
  }
}
@media (max-width: 609px) {
  .container {
    margin: 0;
  }
  .container .row {
    flex-direction: column;
    margin: 2rem 0;
  }
  .roadImg {
    display: none;
  }
  .musicImg {
    width: 150px;
    margin: 2em auto;
    height: auto;
  }
  .wawes_container {
    justify-content: center;
    margin: 2em 0;
  }
}
